
    h1{
      text-align: center;
    }
    #container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }
    form{
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

    }
    input{
      font-size: 30px;
    }
    button{
      font-size: 30px;
    }
    #result{
      font-size: 30px;
    }